.App {
  text-align: center;
  min-height: 100vh;
  background-color: rgb(219, 170, 205);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: rgb(168, 86, 145);
  border-style: solid;
border-width: 4px 4px 0px 4px;
}

.form-section {
  width: 50%;
  min-height: 100px;
  border-radius: 15px;
  background-color: rgb(168, 86, 145);
  margin: auto;
  display: flex;
}

.date-form, .suggestion-display  {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
  border-radius: 10px;
  padding: 2%;
  /* color: white; */
  font-size: large;
}

.greeting-text {
  font-size: 3em;
}

.greeting-description {
  font-size: 1.3em;
}

.select-date-text {
  font-size: 1.2em;
}

.suggestion-display {
  background-color: rgb(241, 211, 233);

}

.eyes {
  font-size: 50px;
}

.suggestion-text {
  font-size: 20px;
  font-weight:500;
  /* color: rgb(255, 255, 255); */
}

.subscription-text {
  font-size: 13px
}
